<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Homepage admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
.dropbtn { background-color: black;color: white;padding: 16px;font-size: 16px;border: none;}
.dropdown { position: relative;display: inline-block;}
.dropdown-content {display: none;position: absolute; background-color: #f1f1f1;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: red;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ff6666;}
</style>
</head>
<body>

<h1 style = "color:red ; text-align:center;">Departamentul de Informatica</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <div class="dropdown">
        <button class="dropbtn">Students</button>
        <div class="dropdown-content">
            <a href="/admin/allStudents">All students</a>
            <a href="/admin/addStudent">Add student</a>
            <a href="/admin/removeStudent">Remove student</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Professors</button>
        <div class="dropdown-content">
            <a href="/admin/allProfessors">All professors</a>
            <a href="/admin/addProfessor">Add professor</a>
            <a href="/admin/removeProfessor">Remove professor</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Courses</button>
        <div class="dropdown-content">
            <a href="/admin/allCourses">All courses</a>
            <a href="/admin/addCourse">Add course</a>
            <a href="/admin/removeCourse">Remove course</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Roles</button>
        <div class="dropdown-content">
            <a href="/admin/allRoles">All roles</a>
            <a href="/admin/addRole">Add role</a>
            <a href="/admin/removeRole">Remove role</a>
        </div>
    </div>
    <a target='_self' th:href="@{/logout}" style='background-color: black;color: white;padding: 16px;font-size: 16px;border: none;'>Log out</a>
</div>


<p th:unless="${students} and ${students.size()}">no students :(</p>

<table class="table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>

    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
    </tr>
</table>

</body>
</html>