<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">Departamentul de Informatica</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/professor/professorFragments :: navigation"></nav>
</div>

<h1 >Add course</h1>
<p style="width:400px;">
</p>

<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: #ffffff;" th:action="@{/professor/addCourse}" method="post"  th:object="${course}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="credits">Credits</label>
        <input class="form-control" th:field="*{credits}" />
        <span th:errors="*{credits}" class="error" style="color:red;"></span>
    </div>



    <input type="submit" value="Add" />

    <div th:if="${message}" th:text="${message}" style="color:red;" th:class="${'alert ' + alertClass}"/>
</form>

</body>
</html>