<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">Departamentul de Informatica</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/professor/professorFragments :: navigation"></nav>
</div>
<p th:unless="${professors} and ${professors.size()}">no professors :(</p>

<table class="table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>

    <tr th:each="professor : ${professors}">
        <td th:text="${professor.firstName}"></td>
        <td th:text="${professor.lastName}"></td>
        <td th:text="${professor.email}"></td>
    </tr>
</table>

</body>
</html>