<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Login page</title>
</head>
<body style="margin:50px">
<h1 style = "color:red ; text-align:center;" th:text="${title}">Login page</h1>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: red;" align = "center" th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text"  id="username" name="username" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <div align="center" th:if="${param.error}">
        <p style="font-size: 20; color: black;">Wrong username or password!</p>
    </div>
    <input type="submit" value="Log in" />
</form>

<a href="/register"  target="_top" >REGISTER</a>

</body>
</html>