<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Register</title>
</head>
<body class="container">
<h1 style = "color:red ; text-align:center;" >Departamentul de Informatica</h1>
<h1 style = "color:black ; text-align:center;" >Register</h1>

<a href="/login">Login</a>

<p style="width:400px;">
</p>

<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: #ffffff;" th:action="@{/register}" method="post"  th:object="${user}">
    <div class="form-group">
        <label th:for="firstname">First name</label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="lastname">Last name</label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error" style="color:red;"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Role</label>
        <select name="roleId">
            <option th:each="role : ${roles}"
                    th:text="${#strings.substring(role.name,5)}"
                    th:value="${role.id}"></option>
        </select>
    </div>

    <input type="submit" value="Register" />

    <div th:if="${message}" th:text="${message}" style="color:red;" th:class="${'alert ' + alertClass}"/>
</form>

</body>
</html>