<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">Homepage USER</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/student/userFragments :: navigation"></nav>
</div>
<p th:unless="${courses} and ${courses.size()}">no courses :(</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Credits</th>
    </tr>

    <tr th:each="course : ${courses}">
        <td th:text="${course.name}"></td>
        <td th:text="${course.credits}"></td>
    </tr>
</table>

</body>
</html>