<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 style = "color:red ; text-align:center;">Homepage USER</h1>
<div style="border: 3px ridge #003312; padding:10px; float: none; margin: 60px auto; background: red;" align="center">
    <nav th:replace="/student/userFragments :: navigation"></nav>
</div>


<form style="border: 3px ridge #003312; padding:20px; float: none; margin: 60px auto; background: #ffffff;" th:action="@{/student/removeCourse}" method="post" >
    <div class="form-group">
        <select name = "courseId">
            <option th:each="course : ${courses}"
                    th:value="${course.id}"
                    th:text="${course.name}">
            </option>
        </select>
    </div>

    <input type="submit" value="Remove Course" />
</form>


<div th:if="${message}" th:text="${message}" style="color:red;" th:class="${'alert ' + alertClass}"/>
</form>

</body>
</html>